body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "header header"
    "menu content"
    "footer footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 45px 1fr 45px;
}

header {
    grid-area: header;
  }
  
  main {
    grid-area: content;
  }
  
  aside {
    grid-area: menu;
  }
  
  footer {
    grid-area: footer;
  }

@font-face {
    font-family: 'Proxima Nova Regular'; 
    src: url("assets/fonts/Proxima Nova Regular.otf"); 
}

/*HEADER*/

.header {
    width: 100%;
    background-color: rgb(43, 45, 75);
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: "Proxima Nova Regular",  sans-serif;
    position: sticky;
    top: 0;
    z-index: 2;
}

.profile {
    background-color: rgb( 21, 164, 250 );
    padding: 0 10px;  
    width: 157px;
    height: 45px;
    position: relative;    
}

.avatar {
    position: absolute;
    top: 4px;
    left: 7px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid #fff;   
}

.profile span {
    position: absolute;
    top: 14px;
    left: 52px;
    font-size: 17px;
    color: #fff;
}

.list_profile {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 16px;
    left: 143px;
}

.support {
    display: flex;
}

.support li {
    margin-right: 20px;
}

.support li:first-child {
    list-style: none;
    margin-right: 27px;
}

.support li a {
    font-size: 17px;
    color: rgb(89, 90, 109);
    text-decoration: none;
}

/*ASIDE*/

.menu {
    background-color:rgb( 31, 38, 55 );
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 200px;
    height: 100%;
    z-index: 0;
}

/*BUTTON*/

.add_book {
    margin: 30px 0 20px 20px; 
}

button.butt_add_book {
    width: 160px;
    height: 44px;
    border-radius: 4px;
    background-color: rgb( 242, 121, 90 );
    border: none; 
    position: relative;
    cursor: pointer;
}

span.butt_add_book {
    color: #fff;
    font-family: "Proxima Nova Regular", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    position: absolute;
    top: 13px;
    left: 48px;
}

img.butt_add_book {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 15px;
    left: 22px;     
}

/*MAIN NAV*/

.main_nav_a {
    display: block;
    text-decoration: none;
}

.main_nav_a:hover, .main_nav_a:focus {
    background-color: rgb( 21, 164, 250 );
}

.main_nav_a:hover span, .main_nav_a:focus span {
    color: #fff;
}

span.reading, span.browse, span.buy_books, 
span.favorite, span.wishlist, span.history {
    font-size: 13px;
    font-family: "Proxima Nova Regular", sans-serif;
    color: rgb( 120, 130, 157 );
    line-height: 2;
    margin-left: 10px;
}

img.reading, img.browse, img.buy_books, 
img.favorite, img.wishlist, img.history {
    width: 13px;
    height: 13px;
}

.main_nav div {
    padding: 4px 0 4px 30px;
}

.main_nav {
    padding-bottom: 15px;
    padding-top: 10px;
    border-bottom: 3px solid rgb( 24, 30, 44 );
    border-top: 3px solid rgb( 24, 30, 44 );
}

/*PERSONAL CATEGORIES*/

span.must_read, span.best_of, span.classic, 
span.non_fiction {
    font-size: 13px;
    font-family: "Proxima Nova Regular", sans-serif;
    color: rgb( 120, 130, 157 );
    line-height: 2;
    text-align: left;
    margin-left: 10px;
}

img.must_read, img.best_of, img.classic, 
img.non_fiction {
    width: 7px;
    height: 7px;
    text-align: left;
}

.personal_categories div {
    padding: 4px 0 4px 30px;
}

.personal_categories {
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 3px solid rgb( 24, 30, 44 );
}

/* HISTORY LIST */

.history_list {
    position: relative;
    padding-bottom: 15px;
}

p.history_1, p.history_2 {
    font-size: 12px;
    font-family: "Proxima Nova Regular", sans-serif;
    color: rgb(83, 93, 112);
    line-height: 1.5;
    width: 131px;
    height: 1px;
    margin-left: 25px;
    display: inline-block;
}

img.history_1, img.history_2 {
    width: 13px;
    height: 13px;
}

img.history_1 {
    position: absolute;
    top: 18px;
}

img.history_2 {
    position: absolute;
    top: 118px;
}

.history_1 span, .history_2 span {
    font-weight: bold;
    color: rgb( 111, 125, 149 );
} 

.history_list div {
    padding: 4px 0 4px 30px;
}

/*CONTENT*/

.content {
    width: 100%;
    height: 100%;
}

.books_header {
    background-color: rgb( 238, 241, 247 );
    height: 120px;
}

.available_books {
    margin: 0;
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 22px;
    color: rgb( 68, 76, 99 );
    padding: 29px 0 16px 20px;
    border-bottom: 1.5px solid rgb(218, 223, 234);
}

.books_butt {
    margin: 13px 0 10px 18px;
}

.books_nav_butt {
    font-size: 12px;
    font-family: "Proxima Nova Regular", sans-serif;
    color: rgb(74, 82, 107);
    border: none;
    border-radius: 25px;
    background-color:rgb(238, 241, 247);
    padding: 4px 10px;
}

.books_nav_butt:hover, .books_nav_butt:focus {
    background-color: rgb( 151, 179, 206 );
    color: #fff;
}

.filter_onclick {
    background-color: rgb( 151, 179, 206 );
    color: #ffff;
}

.books-search-form {
    border: 1px solid rgb( 140, 151, 178 );
    border-radius: 15px;
    background-color: rgb( 255, 255, 255 );
    width: 255px;
    height: 25px;
    padding: 2px;
    margin: 10px 10px 6px ;
    display: flex;
    justify-content: space-between;
}

.search_books {
    width: 350px;
    font-family: "Proxima Nova Regular", sans-serif;
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 13px;
    color: rgb(140, 151, 178);
}

.search_books:focus {
    outline: none;
} 

.search_books_butt {
    width: 13px;
    height: 13px;
    margin: 5px 10px 0 0;
    background: url('assets/img/search.png') no-repeat;
    border: none;
}

.books_nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid rgb(218, 223, 234);
}

/*BOOKS*/

.container {
    width: 98%;
    margin: 0 auto;
}

.books_wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.book_item {
    padding: 10px;
}

.book_item img{
    display: block;
    width: 180px;
    height: 250px;
}

.title {
    margin: 0;
    padding-top: 5px;
    font-size: 16px;
    font-family: "Proxima Nova Regular", sans-serif;
    color: rgb( 68, 76, 99 );
    font-weight: bold;
}

.author {
    margin: 0;
    font-family: "Proxima Nova Regular", sans-serif;
    color: rgb( 68, 76, 99 );
    font-size: 12px;
    font-weight: normal;
}

/* RATING */

.rating {
    display: flex;
    justify-content: left;
    width: 100px;
}

.rating span {
    padding: 0;
    font-size: 24px;
    color:rgb(196, 196, 196);
}

.rating span:hover {
    cursor: pointer;
    opacity: .8;
    color: #ffd300;
}

.rating>span:before {
    content: '★';
}

.rating>span.active {
    color: #ffd300;
}


/*FOOTER*/

.footer {
    width: 100%;
    height: 45px;
    background-color: rgb(43, 45, 75);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
}

.question {
    background-color: rgb(50, 52, 86);
    width: 55px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question img {
    width: 20px;
    height: 20px;
}

.setting {
    background-color: rgb( 21, 164, 250 );
    width: 55px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting img {
    width: 20px;
    height: 20px; 
}